node_modules
build
temp
scratch
examples/ent
packages/extension/dist
packages/extension/tessvm-extension.zip
packages/extension/tessvm-extension-chrome.zip
packages/extension/tessvm-extension.crx
packages/extension/crx-key.pem
